## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List Popular Data Science Programming Languages
* List the most commonly used Data Science tools
* List some of the most used libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras
4. TensorFlow
5. PyTorch

### Data Science Tools

| Data Science Tools |
|--------------------|
|Jupyter Notebooks   |
|Google Colab        |
|Hadoop              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
hour=60
(200/hour)

3.3333333333333335

## Author
Michiel